*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --Red-clr: hsl(0, 78%, 62%);
  --Cyan-clr: hsl(180, 62%, 55%);
  --Orange-clr: hsl(34, 97%, 64%);
  --Blue-clr: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  line-height: 1.5;
  background-color: var(--Very-Light-Gray);
}

/* Main Style */
main {
  margin: 5em 10em;
}

/* Main Section Style */
.main__text__section {
  text-align: center;
  color: var(--Very-Dark-Blue);
}

.main__heading {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: 0.01563rem;
  margin-bottom: 0;
}

.sub__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.01563rem;
}
.main__paragraph {
  width: 33.75rem;
  margin: 1em auto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 166.667% */
  letter-spacing: 0.0065rem;
}

/* Cards Section */
.cards__section {
  width: 80;
  margin-top: 5em;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.center__row {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card {
  background-color: white;
  color: var(--Very-Dark-Blue);
  border-radius: 0.5rem;
  padding: 1em 2em;
  width: 21.875rem;
  height: 15.625rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  display: flex;
  flex-direction: column;
}

.cyan__card {
  border-top: 3px solid var(--Cyan-clr);
}

.red__card {
  border-top: 3px solid var(--Red-clr);
}

.orange__card {
  border-top: 3px solid var(--Orange-clr);
}

.blue__card {
  border-top: 3px solid var(--Blue-clr);
}

.card__heading {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card__paragraph {
  color: hsla(229, 6%, 66%, 05);
  margin-top: 0.5em;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 176.923% */
  letter-spacing: 0.00563rem;
}

.card__img__container {
  margin-top: 2em;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
